.content_section.map_wrap {
    background-color: #401ba2;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    .navigation_wrap {
        width: 100%;
        background-color: #6938da;
        display: flex;
        justify-content: center;
        position: relative;
        ._inner > ul {
            display:flex;
            justify-content: space-between;
            width: 100%;
            margin-top: -64px;
            padding: 0 40px;
            @include respond-to('lg'){
                padding:0;
            }
        }
        li.point {
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 260px;
            cursor: pointer;
            @include respond-to('lg'){
                width: 25%;
            }
            @include respond-to('sm'){
                width: 31%;
            }
            ._pin {
                width:42px;
                height:75px;
                > path {
                    fill:#fff;
                    transition: all 0.5s;
                }
            }
            
            .illust {
                display: flex;
                justify-content: center;
                align-items: center;
                width:244px;
                height: 88px;
                margin-top: 40px;
                transition: all 0.3s;
                @include respond-to('lg'){
                    width: 100%;
                }
                ._illust {
                    transition: all 0.5s;
                    filter:saturate(0.3);
                }
                .illust01 {
                    width:244px;
                    height: 76px;
                }
                .illust02 {
                    width: 207px;
                    height: 86px;
                }
                .illust03 {
                    width: 209px;
                    height: 88px;
                }
            }
            ._title {
                margin-top: 25px;
                color:#fff;
            }
            ._description {
                color:rgba(255,255,255,0.5);
                transition: all 0.5s;
                font-size: 14px;
                margin-bottom: 40px;
                margin-top: 10px;
                @include respond-to('lg'){
                    font-size: 12px;
                }
            }
            &.active, &:hover {
                ._pin > path {
                    fill: $colorYell;
                }
                .illust ._illust {
                    transform: perspective(220px) rotateX(-15deg) translate3d(0px, -5px, 10px) scale(1.05);
                    filter: drop-shadow(2px 2px 0px rgba(62,54,82,0.7)) drop-shadow(-2px 2px 0px rgba(62,54,82,0.7)) drop-shadow(2px -2px 0px rgba(62,54,82,0.7)) drop-shadow(-2px -2px 0px rgba(62,54,82,0.7)) drop-shadow(5px 5px 4px rgba(62,54,82,0.5)) saturate(1);
                }
                ._title {
                    color: $colorYell;
                }
                ._description {
                    color:rgba(255,255,255,1);
                }
            }
        }
        ._timeline {
            position: absolute;
            width: 100%;
            height: 6px;
            background-color: $colorYell;
            top:0;
            left:0;
            display: flex;
            justify-content: center;
            ._inner {
                background-color: #fff;
                justify-content:flex-start;
                @include respond-to('xl'){
                    width: 90%;
                    padding: 0;
                }
            }
            ._active {
                width: 0;
                height: 100%;
                background-color: $colorYell;
                transition: all 0.5s;
            }
            ._active {
                width:0;
            }
        }
    }
    .map {
        width: 100%;
        display: flex;
        justify-content: center;
        ._inner {
            padding:25px 0 55px;
        }
        ._map {
            width: 100%;
            height: 660px;
            object-fit: contain;
            @include respond-to('lg'){
                height: 400px;
            }
            @include respond-to('sm'){
                height: 300px;
            }
            ._line {
                opacity: 0.4;
                fill:#fff;
                transition:all 0.5s;
                &:hover {
                    fill: $colorYell;
                    opacity: 1;
                    cursor: pointer;
                }
            }
            ._line.active {
                fill: $colorYell;
                opacity: 1;
            }
            ._map_point {
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    ._box {
                        fill:$colorYell;
                    }
                    ._text {
                        fill:#000;
                    }
                }
            }
            .map_point01:hover, .map_point01.active {
                transform: scale(1.08) translate(-160px, -80px);
            }
            .map_point02:hover, .map_point02.active {
                transform: scale(1.02) translate(-20px, -10px);
            }
            .map_point03:hover, .map_point03.active {
                transform: scale(1.03) translate(-30px, -30px);
            }
            .nametag {
                transition: all 0.5s;
                ._text {
                    fill:#fff;
                }
            }
            .nametag.active {
                ._box {
                    fill:$colorYell;
                }
                ._text {
                    fill:#000;
                }
            }
        }
    }
}

.modal.mapvideo_pop {
    .close:not(:disabled):not(.disabled) {
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px 0 0;
        span {
            font-size: 30px;
            font-family: sans-serif;
        }
    }
    .modal-dialog {
        width: 1280px;
        max-width: 1280px;
        @include respond-to('xl'){
            width:90%;
            margin: 0 auto;
        }
    }
    .modal-body {
        width: 1280px;
        @include respond-to('xl') {
            width:100%;
        }
        @include respond-to('sm') {
            padding: 5px;
        }
    }
}