section.site_title_wrap {
    background-image: url(#{$urlImg}/bg_title_icons.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: top center;
    flex-direction: column;
    align-items: center;
    .section_inner {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        @include respond-to('sm'){
            margin-top: 60px;
        }
    }
    .title_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .mobile {
            position: absolute;
            top: 70px;
            left: -80px;
            background-color: $colorAcc;
            border-radius: 100px;
            width:126px;
            height:126px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img_title {
            justify-content: center;
            display: flex;
            img {
                width: 100%;
            }
        }
        .char_korad {
            position:absolute;
            bottom: -70px;
            right: -50px;
            width:192px;
            height:220px;
            background-image: url(#{$urlImg}/char_korad.png);
            background-position:center center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s;
            &:hover {
                right: 80px;
            }
        }
    }
    .welcome {
        color:#fff;
        border-radius: 50px;
        background-color: $colorAcc;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        width:100%;
        max-width: 964px;
        padding:18px;
        margin-top: -20px;
        @include respond-to('lg'){
            font-size: 24px;
        }
        @include respond-to('md'){
            font-size: 18px;
            padding: 18px 36px;
        }
        @include respond-to('sm'){
            font-size: 15px;
        }
    }
    .description {
        margin-top: 30px;
        text-align: center;
        font-size: 18px;
        color:$colorAcc;
        @include respond-to('sm'){
            font-size: 15px;
        }
    }
    .video_wrap.youtube_wrap {
        margin-top:60px;
        margin-bottom:50px;
        @include respond-to('md') {
            margin-top:40px;
        }
    }
}