.content_section.vrvideo_wrap {
    background-color: #a0d1db;
    .section_inner {
        flex-direction: column;
        align-items: center;
        @include respond-to('md') {
            padding: 0 10px;
        }
    }
    .title_wrap {
        margin:100px 0 70px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        ._description {
            line-height: 1.6em;
            text-align: center;
            color: #401ba2;
            margin-bottom: 0;
            margin-top: 30px;
            font-size: 20px;
        }
        @include respond-to('lg') {
            width: 90%;
            img {
                width: 100%;
            }
        }
        @include respond-to('md') {
            margin: 70px 0 30px;
        }
    }
    .video_wrap {
        margin-bottom: 120px;
        @include respond-to('md') {
            margin-bottom: 70px;
        }
    }
}