.content_section.yeskorad_wrap {
    flex-direction: column;
    align-items: center;
    background-color: #a0d1db;
    .title_wrap {
        margin:110px 0 70px;
        ._description {
            line-height: 1.6em;
            text-align: center;
            color: #401ba2;
            margin-bottom: 0;
            font-size: 20px;
        }
        ._ic_youtube {
            background-image: url(#{$urlImg}/ic_youtube.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 27px;
            height: 19px;
            display: inline-block;
            vertical-align: sub;
        }
        @include respond-to('lg') {
            width: 90%;
            img {
                width: 100%;
            }
        }
        @include respond-to('md') {
            margin: 70px 0 30px;
        }
    }
    .yeskorad_list {
        width:100%;
        margin-bottom: 60px;
        .item_movie {
            // width:820px;
            margin:0 25px;
            opacity: 0.6;
            &.slick-center {
                opacity: 1;
            }
        }
    }
    .nav_for_slide {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom:110px;
        @include respond-to('md') {
            margin-bottom: 60px;
        }
        ._inner {
            width: 760px;
        }
        .item_nav {
            margin:0 25px;
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 26px;
            text-align: center;
        }
        .slick-arrow {
            font-size: 0;
            background-color: transparent;
            border-radius: 4px;
            border: solid 1px #000000;
            padding: 0;
            cursor: pointer;
            line-height: 0;
            &:before {
                content:'';
                width: 30px;
                height: 30px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto;
                display: flex;
            }
            &.slick-prev:before {
                background-image: url(#{$urlImg}/ic_allow_left.png);
            }
            &.slick-next:before {
                background-image: url(#{$urlImg}/ic_allow_right.png);
            }
        }
        @include respond-to('md'){
            ._inner {
                width: 100%;
            }
            .slick-track {
                display: flex;
                align-items: center;
                text-align: center;
            }
            .item_nav {
                font-size: 18px;
            }
        }
    }
}